@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-0 p-0 box-border;
    }
    body {
        @apply font-publicSans;
    }

    h1,
    h2 {
        @apply text-darkBlue;
    }
    section {
        @apply sm:px-6 lg:px-10;
    }
}

@layer components {
    .navLink {
        @apply relative cursor-pointer h-full flex items-center hover:text-darkBlue before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-0 before:bg-gradient-to-r before:from-green before:to-cyan hover:before:h-1 before:transition-all before:duration-200;
    }
    .gradientButton {
        @apply bg-gradient-to-r from-green to-cyan rounded-full;
    }
    .opacityHover {
        @apply hover:opacity-60 transition-opacity duration-300;
    }
    .backgroundImage {
        @apply bg-introMobile md:bg-introDesktop bg-no-repeat bg-cover md:bg-[length:700px] lg:bg-[length:880px] bg-[center_top_-15rem] sm:bg-[center_top_-17rem] min-[700px]:bg-[center_top_-19rem] min-[730px]:bg-[center_top_-21rem] md:bg-[right_-12rem_top] lg:bg-[right_-12rem_top_-9rem];
    }
    .gradientText:hover {
        @apply bg-green bg-gradient-to-r from-green to-cyan bg-clip-text text-transparent bg-cover transition-colors cursor-pointer;
    }
}
